<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DiffbotUrl" value="http://api.diffbot.com"/>
    <add key="DiffbotToken" value="408da6bbb2f6f23fd44f73ee78de2fa8"/>
    <add key="DiffbotVersion" value="2"/>
    
  </appSettings>
</configuration>